table {
   width: 100%;
}

.mat-form-field {
   font-size: 14px;
   width: 100%;
}

td,
th {
   width: 20%;
}

.employee-details-page {
   margin: 35px 20vh;
   padding: 20px
}

.top-menu {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}